{% if user == None and (count % 5 != 0 ) %}
  <div id="notice" class="alert alert-success alert-dismissible fade show mx-3 my-1">
    &#x1F6A9;. I'm <strong><a href="http://github.com/culee" target="_blank">Duy Anh</a></strong>.
    It's <strong>EXTREMELY &#x1F60E;</strong> to see
    you here &#x2764;.
    I guess that you're about to do a final project at <strong>C4E</strong>. 
    For that reason, I decided to &#x1F193; open the admin
    dashboard (<strong>admin</strong> | <strong>qwe123</strong>) so you can
    have a deeper look at this &#x1F4A9;. <strong>DON'T &#x274C; ANYTHING</strong>.
    Take a look at source code
    <a href="https://github.com/culee/moody" target="_blank">
      <strong>HERE</strong></a>.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% else %} {% endif %}
